body {
    background-color: black;
}
.header {
    display: block;
    margin: 50px auto;
}
.main_body {
    display: block;
    font-size: 40px;
    color: white;
    text-align: center;
}
.contact_info {
    font-family: monospace;
    font-size: 30px;
    color: white;
    display: block;
    margin: 50px;
    text-align: center;
    text-decoration: none !important;
}
a {
  color: inherit;
}
.contact_info a {
    text-decoration: none;
    color: inherit;
}
.contact_info a:hover {
    text-decoration: underline;
}
.github {
    display: block;
    width: 50%;
    margin: 50px auto;
}