@font-face {
    font-family: pixeloidSans;
    src: url('/fonts/PixeloidSans-mLxMm.ttf');
}

@font-face {
    font-family: pixeloidSans;
    src: url('/fonts/PixeloidSansBold-PKnYd.ttf');
    font-weight: bold;
}

/* https://www.fontspace.com/mistis-fonts */
@font-face {
    font-family: quiteMagical;
    src: url('/fonts/QuiteMagicalRegular-8VA2.ttf')
}

/* https://www.fontspace.com/agasilva */
@font-face {
    font-family: auldMagick;
    src: url('/fonts/Auldmagick-gvdp.ttf');
}

#w3schools {
    font-weight: normal;
}

#fauux {
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
}

#ynoproject {
    font-family: pixeloidSans;
    font-weight: normal;
}

#gandalf {
    font-family: auldMagick;
    font-weight: normal;
    font-size: 2em;
}