/* Header */

.header {
    margin: auto;
    height: auto;
    width: 80%;
    display: grid;
    gap: 0;
    grid-template:
        'puzzle'
        'navline'
        'fact'
        'music'
        'boxes';
    justify-items: center;
    align-items: center;
}

#fact {
    grid-area: fact;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#fact img {
	background-color: white;
	width: 20px;
	height: 30px;
}

#fact img:hover {
	background-color: cyan;
}

#fact-inner {
	padding: 10px;
	background-color: black;
	text-align: center;
}

#puzzle {
    grid-area: puzzle;
    max-width: 500px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#puzzle img {
    width: 100%;
    height: auto;
}

#music {
    grid-area: music;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#music img {
	background-color: white;
	width: 20px;
	height: 30px;
}

#music img:hover {
	background-color: cyan;
}

#music-inner {
	padding: 10px;
	background-color: black;
	text-align: center;
}

#navline {
    grid-area: navline;
    background-color: black;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#navline p {
    margin: 0;
    padding: 0;
    font-size: 30px;
}

p.divider {
    color: black;
}

#boxes {
    grid-area: boxes;
    padding: 10px;
    background-color: black;
    display: grid;
    gap: 0;
    grid-template:
        'webring webring webring webring'
        'webring webring webring webring'
        '. . . .'
        '. . . .'
        '. . . .'
        '. . . .';
    justify-items: center;
    align-items: center;
}

#webring {
    grid-area: webring;
    width: 352px;
    height: 62px;
}

#webring iframe {
    width: 352px;
    height: 62px;
    border: 0;
}

/* Currently Unused */
@keyframes jump {
    0% {transform: matrix(1, 0, 0, 1, 0, 0);}
    10% {transform: matrix(1, -0.05, 0.05, 1, 0, -29);}
    15% {transform: matrix(0.99, -0.1, 0.1, 0.99, 0, -38);}
	20% {transform: matrix(0.99, -0.15, 0.15, 0.99, 0, -40);}
    25% {transform: matrix(0.98, -0.2, 0.2, 0.98, 0, -38);}
    30% {transform: matrix(0.98, -0.25, 0.25, 0.98, 0, -29);}
    40% {transform: matrix(0.97, -0.3, 0.3, 0.97, 0, -11);}
	45% {transform: matrix(0.98, -0.2, 0.2, 1, 0.98, -18);}
    50% {transform: matrix(0.99, -0.1, 0.1, 0.99, 0, -25);}
	55% {transform: matrix(1,  0, 0, 1, 0, -28);}
    60% {transform: matrix(0.99, 0.1, -0.1, 0.99, 0, -25);}
    65% {transform: matrix(0.98, 0.2, -0.2, 0.98, 0, -18);}
	70% {transform: matrix(0.97, 0.3, -0.3, 0.97, 0, -11);}
    75% {transform: matrix(0.99, 0.1, -0.1, 0.99, 0, -10);}
    80% {transform: matrix(0.99, -0.1, 0.1, 0.99, 0, -5);}
    85% {transform: matrix(1, 0, 0, 1, 0, -6);}
    90% {transform: matrix(0.99, 0.1, -0.1, 0.99, 0, -4);}
    92% {transform: matrix(1, 0, 0, 1, 0, -2);}
    95% {transform: matrix(1, 0, 0, 1, 0, -4);}
    98% {transform: matrix(1, 0, 0, 1, 0, -1);}
	100% {transform: matrix(1, 0, 0, 1, 0, 0);}
}

/* Non-Mobile Config*/

@media only screen and (min-width: 1200px) {
    .header {
        display: grid;
        grid-template:
            'fact puzzle music'
            'navline navline navline'
            'boxes boxes boxes';
    }
    
    #fact {
        width: 17vw;
        justify-self: right;
    }

    #music {
        width: 17vw;
        justify-self: left;
    }

    #navline {
        flex-direction: row;
    }

    #navline p {
        padding: 30px 10px;
    }

    p.divider {
        color: white;
    }
}

@media only screen and (min-width: 1400px) {
    #boxes {
        display: grid;
        grid-template:
            '. . . . webring webring webring webring . . . .'
            '. . . . webring webring webring webring . . . .'
            '. . . . . . . . . . . .';
    }
}

@media only screen and (max-width: 1400px) and (min-width: 1200px) {
    #boxes {
        display: grid;
        grid-template:
            '. . . webring webring webring webring . . .'
            '. . . webring webring webring webring . . .'
            '. . . . . . . . . .';
    }
}

@media only screen and (max-width: 1200px) and (min-width: 1000px) {
    #boxes {
        display: grid;
        grid-template:
            '. . webring webring webring webring . . '
            '. . webring webring webring webring . .'
            '. . . . . . . .';
    }
}

@media only screen and (max-width: 1000px) and (min-width: 800px) {
    #boxes {
        display: grid;
        grid-template:
            '. webring webring webring webring . '
            '. webring webring webring webring .'
            '. . . . . .'
            '. . . . . .';
    }
}

/* Audio Player Config */

#audioplayer-container {
    --seek-before-width: 0%;
    --volume-before-width: 100%;
    --buffered-width: 0%;
    width: 100%;
    max-width: 360px;
    height: 10%;
    margin: 0 auto;
    border: 5px double white;
    border-radius: 5px;
    display: grid;
    gap: 0;
    grid-template:
        'top'
        'bottom';
}

#audioplayer-top-row {
    grid-area: top;
    width: 100%;
    display: flex;
    align-items: center;
    margin: 0.5vw 0.2vw 0.2vw 0.2vw;
}

#audioplayer-bottom-row {
    grid-area: bottom;
    width: 100%;
    display: flex;
    align-items: center;
    margin: 0.2vw 0.2vw 0.5vw 0.2vw;
}

button.audio {
    padding: 0;
    border: 0;
    background: transparent;
    outline: none;
    cursor: pointer;
    width: 30px;
    height: 30px;
}

button#play-icon {
    margin: 0 0 0 2.5%;
}

button#mute-icon {
    margin: 0 2.5%;
}

path {
    stroke: white;
}

.time {
    margin: 0 2.5%;
}

#volume-output {
    margin: 0 2.5%;
}

#volume-slider {
    width: 58%;
}

#volume-slider::before {
    width: var(--volume-before-width);
}

/* End Audio Player Config */

/* The EXTRA Small Config */

@media only screen and (max-width: 600px) {
    #puzzle {
        max-width: 400px;
    }

    #audioplayer-container {
        max-width: 250px;
    }

    #navline p {
        font-size: 20px;
    }

    button.audio {
        width: 20px;
        height: 20px;
    }

    #webring {
        grid-area: webring;
        width: 176px;
        height: 31px;
    }

    #webring iframe {
        transform: 0.5;
        transform-origin: 0 0;
        -ms-zoom: 0.5;
        -moz-transform: scale(0.5);
        -moz-transform-origin: 0 0;
        -o-transform: scale(0.5);
        -o-transform-origin: 0 0;
        -webkit-transform: scale(0.5);
        -webkit-transform-origin: 0 0;
    }
}

@media only screen and (max-width: 600px) and (min-width: 500px) {
    #boxes {
        display: grid;
        grid-template:
            '. webring webring .'
            '. . . .'
            '. . . .'
            '. . . .'
            '. . . .'
            '. . . .';
    }
}

@media only screen and (max-width: 500px) {
    #boxes {
        display: grid;
        grid-template:
            'webring webring'
            '. .'
            '. .'
            '. .'
            '. .'
            '. .'
            '. .'
            '. .';
    }
}
