/* Defaults */

body {
    background-color: black;
    background-image: url(/img/test.gif);
}

img {
    width: 100%;
    height: auto;
}

a {
    color: white;
    font-family: monospace;
    text-decoration: none;
    /*text-align: center;*/
    /*word-wrap: break-word;*/
}

a:hover {
    color: cyan;
}

ol {
    color: white;
}

ul {
    list-style-type: square;
    padding-left: 3vw;
    color: white
    /*border: 5px solid white; */
}

li {
    padding: 0.1vw 0.1vw;
    /*border: 5px solid white; */
}

p {
    font-size: 18px;
    line-height: 30px;
    color: white;
}

ol.p {
    font-size: 18px;
}

ul.p {
    font-size: 18px;
}

ul.h2 {
    font-size: 30px;
}

ul.h3 {
    font-size: 22px;
}

code {
    font-family: monospace;
    background: white;
    color: black;
    padding: 1px 1px;
    margin: 0 -1px;
    border-radius: 4px;
    text-decoration: none;
}

h1 {
    font-size: 40px;
    text-decoration: underline;
    color: white;
}

h2 {
    font-size: 30px;
    text-decoration: underline;
    color: white;
}

h3 {
    font-size: 22px;
    color: white;
}

.linked:hover {
  color: cyan;
}

.hidden {
   color: black;
}

.metadata {
    color: lightgray;
    font-size: 15px;
}

/* Header */

.header {
    margin: auto;
    height: auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*border: 5px solid white; */
}

#puzzle {
    width: 500px;
    height: auto;
}

#navline {
    font-size: 30px;
    background-color: black;
}

.body {
    margin: auto;
    height: auto;
    width: 80%;
    display: flex;
    justify-content: center;
    /*align-items: center;*/
    /*border: 5px solid white; */
}

/* Sidebar */

.boxes {
    padding-left: 3vw;
}

.boxes img {
    height: 31px;
    width: 88px;
    transition: 0.2s;
}

.boxes img:hover {
    transform: rotate(4deg)
}

/* Homepage */

.feed {
    float: left;
    margin-left: 5%;
    width: 60%;
    background-color: black;
    padding: 0.5vw;
    /*border: 5px solid white; */
}

.sidebar {
    float: right;
    margin-right: 5%;
    width: 20%;
    background-color: black;
    padding: 0.5vw;
    /*border: 5px solid white; */
}

/* Submit Page */

.submit_form {
    margin: auto;
    text-align: center;
}

input[type=text] {
    width: 30%;
    padding: 0.8vw 1.2vw;
    margin: 0.4vw 0.2vw;
    box-sizing: border-box;
}

input[type=submit] {
    background-color: white;
    border: none;
    color: black;
    width: 20%;
    margin: 0.4vw 0.2vw;
    cursor: pointer;
}

/* Directory */

.all_posts {
    width: 80%;
    background-color: black;
    /* border: 5px solid white; */
}

/* About */

.ctfs {
    float: left;
    width: 45%;
    background-color: black;
    /* border: 5px solid white; */
}

.talks {
    float: right;
    width: 45%;
    background-color: black;
    /* border: 5px solid white; */
}

/* Blog Post Page */

.blog_post {
    width: 80%;
    margin-bottom: 20%;
    background-color: black;
    /* border: 5px solid white; */
}

