/* Defaults */

body {
    background-color: black;
    background-image: url(/img/test.gif);
}

img {
    width: 100%;
    height: auto;
}

a {
    color: white;
    font-family: monospace;
    text-decoration: none;
    /*text-align: center;*/
    /*word-wrap: break-word;*/
    cursor: pointer;
}

a:hover {
    color: cyan;
}

ol {
    color: white;
    margin: 0;
}

ul {
    list-style-type: none;
    padding-left: 0;
    color: white;
    margin: 0;
}

li {
    padding: 0.1vw 0.1vw;
}

p {
    font-size: 18px;
    line-height: 30px;
    color: white;
}

.p {
    color: white;
    font-size: 18px;
}

.h2 {
    font-size: 30px;
}

.h3 {
    font-size: 22px;
}

code {
    font-family: monospace;
    background: white;
    color: black;
    padding: 1px 4px;
    margin: 1 -1px;
    border-radius: 4px;
    text-decoration: none;
}

h1 {
    font-size: 40px;
    text-decoration: underline;
    color: white;
    margin: 0;
}

h2 {
    font-size: 30px;
    text-decoration: underline;
    color: white;
}

h3 {
    font-size: 22px;
    color: white;
}

/* Utility Classes */

.box {
    height: 31px;
    width: 88px;
}

.box-container {
    height: 31px;
    width: 88px;
}

.popup * {
    transition: 0.5s;
}

.popup:hover * {
    transform: matrix(0.99, -0.1, 0.1, 0.99, 0, -10);
    transition: 0.2s;
}

.linked:hover {
  color: cyan;
}

.hidden {
   color: black;
}

.contrast {
    color: black;
    font-weight: bold;
    /* text-shadow: 0 0 5px white; */
    text-shadow: -1px -1px 0 white, -1px 1px 0 white, 1px -1px 0 white, 1px 1px 0 white;
}

.tight-text {
    margin: 10px 20px;
}

.metadata {
    color: lightgray;
    font-size: 15px;
}

.credits {
    color: lightgray;
    font-size: 10px;
}

/* All Pages */

.body {
    margin: auto auto 5%;
    height: auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer {
    margin: auto auto 5%;
    width: 75%;
    display: flex;
    flex-wrap: wrap;
}

.footer-section {
    margin: 0 0.2vw;
    padding: 0 0.2vw;
    background-color: black;
}

/* Homepage */

.feed {
    width: 80%;
    background-color: black;
    margin: 0 auto;
    padding: 0.5vw;
}

.sidebar {
    width: 80%;
    background-color: black;
    margin: 0 auto;
    padding: 0.5vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
}

.sidebar-section {
    padding: 0.5vw;
    margin: 0 auto 0 0;
}

/* Submit Page */

.submit_form {
    width: 80%;
    margin: 0 auto;
    padding: 0.5vw;
    text-align: center;
}

input[type=text]#submit-text {
    width: 40%;
    padding: 0.8vw 1.2vw;
    margin: 0.4vw 0.2vw;
    text-align: center;
    background-color: black;
    border: 0.2vw solid white;
    border-radius: 0.2vw;
    transition: width 0.2s ease-in-out;
}

input[type=text]:focus#submit-text {
    outline: none;
    border: 0.2vw solid cyan;
    border-radius: 0.2vw;
    width: 80%;
}

input[type=submit] {
    background-color: black;
    border: 0.3vw solid white;
    border-radius: 1vw;
    width: 20%;
    margin: 0.4vw 0.2vw;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: white;
    color: black;
}

#response {
    line-break: anywhere;
    text-align: center;
}

/* Directory */

#all_posts {
    width: 80%;
    background-color: black;
    margin: 0 auto;
    padding: 0.5vw;
}

/* About */

#bio {
    width: 60%;
    background-color: black;
    margin: 0 auto;
    padding: 0.5vw;
    text-align: center;
}

#ctfs {
    width: 80%;
    background-color: black;
    margin: 0 auto;
    padding: 0.5vw;
    text-align: center;
}

#talks {
    width: 80%;
    background-color: black;
    margin: 0 auto;
    padding: 0.5vw;
    text-align: center;
}

textarea#comment {
    width: 90%;
    height: 3vw;
    padding: 0.8vw 1.2vw;
    margin: 0.4vw 0.2vw;
    background-color: black;
    border: 0.1vw solid white;
    border-radius: 0.2vw;
}

textarea:focus#comment {
    outline: none;
    border: 0.1vw solid cyan;
    border-radius: 0.2vw;
}

input[type=text]#poster {
    width: 40%;
    padding: 0.8vw 1.2vw;
    margin: 0.4vw 0.2vw;
    text-align: center;
    background-color: black;
    border: 0.1vw solid white;
    border-radius: 0.2vw;
}

input[type=text]:focus#poster {
    outline: none;
    border: 0.1vw solid cyan;
    border-radius: 0.2vw;
}

/* Blog Post Page */

#blog_post {
    width: 80%;
    background-color: black;
    margin: 0 auto;
    padding: 0.5vw;
}

/* Friends Page */

#friend-group-1 {
    margin: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#friends {
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    background-color: black;
}

a.friend {
    width: 200px;
    height: 200px;
    border: 2px solid white;
    border-radius: 5px;
}

p.friend {
    width: 200px;
}

#friend-group-2 {
    margin: auto;
    height: auto;
    width: 80%;
    display: flex;
    justify-content: space-around;
}

.friends-buttons {
    margin: 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#friends-links {
    background-color: black;
    padding: 10px;
    text-align: center;
}

/* Non-Mobile Config */

@media only screen and (min-width: 1200px) {
    .body {
        flex-direction: row;
    }

    .feed {
        float: left;
        width: 60%;
    }

    .sidebar {
        flex-direction: column;
        float: right;
        width: 20%;
        justify-content: normal;
    }

    #ctfs {
        float: left;
        width: 45%;
        text-align: right;
    }

    #talks {
        float: right;
        width: 45%;
        text-align: left;
    }
}

/* The EXTRA Small Config */

@media only screen and (max-width: 800px) {
    #friend-group-2 {
        flex-direction: column;
    }

    #friends {
        flex-direction: column;
    }
}

@media only screen and (max-width: 600px) {
    p {
        font-size: 12px;
        line-height: 20px;
    }

    .p {
        font-size: 12px;
    }

    h1 {
        font-size: 26px;
    }

    h2 {
        font-size: 20px;
    }

    .h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 14px;
    }

    .h3 {
        font-size: 14px;
    }

    .metadata {
        font-size: 10px;
    }
}
