body {
    background-image: url(/img/test.gif);
}
img {
    max-width: 100%;
    height: auto;
}
.header {
    display: block;
    margin: 50px auto;
}
.main_body {
    display: block;
    font-size: 40px;
    color: white;
    text-align: center;
    word-wrap: break-word;
}
.contact_info {
    font-family: monospace;
    font-size: 30px;
    color: white;
    display: block;
    margin: 50px;
    text-align: center;
    text-decoration: none !important;
    word-wrap: break-word;
}
a {
  color: inherit;
}
.contact_info a {
    text-decoration: none;
    color: inherit;
}
.contact_info a:hover {
    text-decoration: underline;
}
.embeds {
    display: block;
    width: 50%;
    margin: 50px auto;
}
.mastodon {
    display: block;
    width: 100%;
    height: 800px;
}